{{ $giscus := site.Params.giscus }}
{{ $hasGiscusConfig := and
  $giscus.enabled
  (ne ($giscus.repo | default "") "")
  (ne ($giscus.repoId | default "") "")
  (ne ($giscus.category | default "") "")
  (ne ($giscus.categoryId | default "") "") }}
{{ if and $hasGiscusConfig (eq .Section "posts") }}
  <section class="surface comments-block">
    <div id="giscus_thread"></div>
    <script
      src="https://giscus.app/client.js"
      data-repo="{{ $giscus.repo }}"
      data-repo-id="{{ $giscus.repoId }}"
      data-category="{{ $giscus.category }}"
      data-category-id="{{ $giscus.categoryId }}"
      data-mapping="{{ $giscus.mapping }}"
      data-strict="{{ $giscus.strict }}"
      data-reactions-enabled="{{ $giscus.reactionsEnabled }}"
      data-emit-metadata="{{ $giscus.emitMetadata }}"
      data-input-position="{{ $giscus.inputPosition }}"
      data-theme="{{ $giscus.theme }}"
      data-lang="{{ $giscus.lang }}"
      crossorigin="anonymous"
      async
    ></script>
  </section>
{{ end }}
